[Unit]
Description=Run nixScript on boot
After=graphical.target
Wants=graphical.target

[Service]
ExecStart=/usr/bin/sh /home/slightlywind/Repositories/nixScript/bootScript/onBoot.sh
Restart=always
User=slightlywind

[Install]
WantedBy=multi-user.target
