[Unit]
Description=Run nixScript on boot
After=network.target

[Service]
ExecStart=/home/slightlywind/Repositories/nixScript/khoj/khoj.sh
Restart=always
User=slightlywind

[Install]
WantedBy=multi-user.target

